*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 0;
}

.btn {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 12px 72px;
  background: none;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;

  &__fill {
    background-color: #6457A6;
    color: white;

    &:hover,
    &:focus {
      background-color: darken(#6457A6, 10%);
      color: white;
    }
  }

  &__unfill {
    color: #6457A6;

    &:hover,
    &:focus {
      border-color: #6457A6;
    }
  }
}

.form {
  &__row {
    margin-bottom: 24px;

    &__submit {
      text-align: right;
      margin-bottom: 0;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .form__row {
      width: 49%;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 120%;
    color: #666;
  }

  &__input {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #666;
  }
}

.Alert {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translate(-50%, -150px);
  padding: 8px 16px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  transition: transform 0.3s ease;

  &--success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &--danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &--show {
    transform: translate(-50%, 0);
  }
}
