.result-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 60px 16px;
    overflow-y: auto;

    .Logo {
      &__ico {
        width: 70px;
        height: 70px;
      }

      &__text {
        font-size: 24px;
      }
    }
  }

  &__buttons {
    background-color: #6457A6;
    padding: 36px 16px;
    width: 100%;
    text-align: center;

    .btn {
      padding: 12px 40px;
      margin: 0 16px;
      color: white;

      &:hover,
      &:focus {
        border-color: white;
      }

      &.btn__fill {
        background-color: white;
        color: #6457A6;

        &:hover,
        &:focus {
          background-color: rgba(white, .8);
        }
      }
    }
  }

  &__table {
    list-style: none;
    margin: 70px auto auto;
    padding: 0;
    width: 100%;
    max-width: 400px;

    &-tr {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
      align-items: center;
      border-bottom: 1px solid rgba(#666, .2);
    }

    &-header {
      border-color: rgba(#666, .7);
      color: #666;
    }

    &-td {
      padding: 8px;

      strong {
        font-weight: 500;
        color: #6457A6;
      }

      .btn {
        font-size: 14px;
        padding: 8px 20px;
      }
    }
  }
}

.testitem {
  max-width: 600px;
  width: 100%;
  margin: auto;

  &-number {
    font-size: 14px;
    color: rgba(#666, .7);
    margin-bottom: 16px;
  }

  &-question {
    font-size: 24px;
    line-height: 140%;
    color: #333;
    margin-bottom: 24px;
  }

  &-answers {
    list-style: none;
    padding: 0;
    margin: 0 0 60px;

    li {
      margin: 0;

      + li {
        margin-top: 24px;
      }
    }

    .btn__answer {
      background-color: white;
      border: 1px solid rgba(100, 87, 166, 0.2);
      box-shadow: 0 4px 20px rgba(100, 87, 166, 0.2);
      font-size: 16px;
      line-height: 120%;
      color: #333;
      padding: 17px 25px;
      width: 100%;
      text-align: left;

      &:hover,
      &:focus {
        background-color: rgba(100, 87, 166, 0.1);
      }

      &-check {
        &,
        &:hover,
        &:focus {
          background-color: #6457A6;
          color: white;
        }
      }
    }
  }

  &-buttons {
    text-align: center;
  }
}

.result {
  &__title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 72px 0 36px;
  }

  &__procent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
    margin: 0 auto 72px;

    &__number {
      width: 230px;
      height: 230px;
      background-color: rgba(100, 87, 166, 0.4);
      border-radius: 50%;
      font-size: 60px;
      font-weight: 500;
      line-height: 230px;
      text-align: center;
    }

    &__comment {
      width: 275px;
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
      color: #666;
    }
  }

  &__bad-questions {
    .testitem-answers {
      .btn__answer {
        pointer-events: none;
      }

      .btn__answer-check {
        background-color: #DA5D5D;
      }
    }
  }

  &__save {
    text-align: center;
  }
}