.signin-page {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6457A6;
    width: 50%;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    &-container {
      width: 600px;
      margin: auto;

      .btn--back {
        padding: 0;
        margin-bottom: 36px;

        svg {
          width: 24px;
          height: 24px;
          vertical-align: top;

          path {
            transition: stroke 0.3s ease;
          }
        }

        &:hover,
        &:focus {
          svg {
            path {
              stroke: #6457A6;
            }
          }
        }
      }

      h1 {
        color: #666;
        margin-bottom: 48px;
      }
    }
  }
}